* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

main {
    margin-top: 120.4px;
}

ul {
    list-style: unset;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        color: unset;
    }
}