@import 'partials/variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

main {
    min-height: calc(100vh - 180.4px);
    margin-top: 120.4px;
    background-color: $main_bg;
}

ul {
    list-style: unset;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        color: unset;
    }
}