#index {
    padding: 40px 0;
    background-color: $cards_bg;

    h1 {
        font-size: 40px;
        font-weight: 700;
        color: $title_color;
    }

    table {
        margin-top: 20px;
    }
}