#index {
    padding: 40px 0;

    h1 {
        font-size: 40px;
        font-weight: 700;
        color: $title_color;
    }

    .alert-success{
        border: unset;
        color: #3797F6;
        background-color: unset;
    }

    table {
        margin-top: 20px;
    }
}