#show {
    padding: 40px 0;

    h1 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700;
        color: $title_color;
    }

    .comic {

        img {
            width: 220px;
            margin-right: 30px;
        }
        
        strong {
            color: $title_color;
        }

        h2, h3, h4, h6 {
            font-size: 22px;
            font-weight: 700;
            color: $base_color;
        }
    }

    a {
        margin-top: 30px;
    }
}