#show {
    padding: 40px 0;

    h1 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700;
        color: $title_color;
    }

    .alert-success{
        border: unset;
        color: #3797F6;
        background-color: unset;
    }

    .comic {

        img {
            width: 200px;
            margin-right: 30px;
        }
        
        strong {
            color: $title_color;
        }

        h2, h3, h4, h6 {
            font-size: 22px;
            font-weight: 700;
            color: $base_color;
        }
    }

    .button_box {
        margin-top: 30px;

        a {
            margin: 0 5px;
        }
    }
}