//Background Colors
$header_bg: #FFFFFF;
$main_bg: #212121;
$footer_bg: #303030;
$box_shadow: #808080;
$forms_bg: #F7F7F7;

// Text Colors
$title_color: #FFFFFF;
$base_color: #d3d3d3;
$link_color: #464646;
$link_hover: #3797F6;
$transparent: #00000000;